# kong
KONG_DATABASE=postgres
KONG_PG_HOST=postgresql
KONG_PG_USER=postgres
KONG_PG_PASSWORD=SRLQvG1g4F5fZ0eH
KONG_PG_DATABASE=kong
KONG_CASSANDRA_CONTACT_POINTS=kong
KONG_PROXY_ACCESS_LOG=/dev/stdout
KONG_PROXY_ERROR_LOG=/dev/stderr
KONG_ADMIN_ACCESS_LOG=/dev/stdout
KONG_ADMIN_ERROR_LOG=/dev/stderr
KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl

# konga
TOKEN_SECRET=HmwT4vRx25lSydYW6Z7XMDhO8gNjquEb
DB_ADAPTER=postgres
DB_HOST=postgresql
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=SRLQvG1g4F5fZ0eH
DB_DATABASE=konga
NODE_ENV=production

# postgresql
shared_buffers=256MB
POSTGRES_PASSWORD=SRLQvG1g4F5fZ0eH
PGTZ=Asia/Shanghai
TZ=Asia/Shanghai